.content-info{
	background: #ededed;
	padding: 2px 0;
	font-size: 1em;
	p{
		padding: 2px 0;
		margin: 0;
	}
	a{
		color: #333;
		margin-left: 6px;
		text-decoration: none;
		i{
			font-size: 1.4em;
		}
	}
}