footer.content-info
	.container
		.row
			.col-sm-6
				p.text-left
					| &copy; 2016 toursite.com
			.col-sm-6
				p.text-right
					a(href="#" target="_blank" title="facebook")
						i.fa.fa-facebook-square
					a(href="#" target="_blank" title="instagram")
						i.fa.fa-instagram
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
	script
		window.jQuery || document.write('<script src="assets/js/vendor/jquery.min.js"><\\/script>')
	script(src='assets/js/core.js')
	script(src='assets/js/vendor/holder.min.js')
	script(src='assets/js/ie10-viewport-bug-workaround.js')