.row
	.col-sm-4
		.box-project.clearfix
			.wrapper-img
				img.img-responsive(src='assets/img/sample1.png' alt="..")
				a.to-view(href="#" title="..") 
			.wrapper-text
				h2.project-title Lorem Ipsum
				p lorem ipsum dolorsitamet conseluari andeparselor matulitono...
			.footer-box.clearfix
				span #[i.fa.fa-eye] 123
				span #[i.fa.fa-heart-o] 44
				span #[i.fa.fa-comments-o] 12
		.box-project.clearfix
			.wrapper-img
				img.img-responsive(src='assets/img/sample1.png' alt="..")
				a.to-view(href="#" title="..") 
			.wrapper-text
				h2.project-title Lorem Ipsum
				p lorem ipsum dolorsitamet conseluari andeparselor matulitono...
			.footer-box.clearfix
				span #[i.fa.fa-eye] 123
				span #[i.fa.fa-heart-o] 44
				span #[i.fa.fa-comments-o] 12
		.box-project.clearfix
			.wrapper-img
				img.img-responsive(src='assets/img/sample2.png' alt="..")
				a.to-view(href="#" title="..") 
			.wrapper-text
				h2.project-title Lorem Ipsum
				p lorem ipsum dolorsitamet conseluari andeparselor matulitono...
			.footer-box.clearfix
				span #[i.fa.fa-eye] 123
				span #[i.fa.fa-heart-o] 44
				span #[i.fa.fa-comments-o] 12
	.col-sm-4
		.box-project.clearfix
			.wrapper-img
				img.img-responsive(src='assets/img/sample2.png' alt="..")
				a.to-view(href="#" title="..") 
			.wrapper-text
				h2.project-title Lorem Ipsum
				p lorem ipsum dolorsitamet conseluari andeparselor matulitono...
			.footer-box.clearfix
				span #[i.fa.fa-eye] 123
				span #[i.fa.fa-heart-o] 44
				span #[i.fa.fa-comments-o] 12
		.box-project.clearfix
			.wrapper-img
				img.img-responsive(src='assets/img/sample1.png' alt="..")
				a.to-view(href="#" title="..") 
			.wrapper-text
				h2.project-title Lorem Ipsum
				p lorem ipsum dolorsitamet conseluari andeparselor matulitono...
			.footer-box.clearfix
				span #[i.fa.fa-eye] 123
				span #[i.fa.fa-heart-o] 44
				span #[i.fa.fa-comments-o] 12
		.box-project.clearfix
			.wrapper-img
				img.img-responsive(src='assets/img/sample1.png' alt="..")
				a.to-view(href="#" title="..") 
			.wrapper-text
				h2.project-title Lorem Ipsum
				p lorem ipsum dolorsitamet conseluari andeparselor matulitono...
			.footer-box.clearfix
				span #[i.fa.fa-eye] 123
				span #[i.fa.fa-heart-o] 44
				span #[i.fa.fa-comments-o] 12
	.col-sm-4
		.box-project.clearfix
			.wrapper-img
				img.img-responsive(src='assets/img/sample1.png' alt="..")
				a.to-view(href="#" title="..") 
			.wrapper-text
				h2.project-title Lorem Ipsum
				p lorem ipsum dolorsitamet conseluari andeparselor matulitono...
			.footer-box.clearfix
				span #[i.fa.fa-eye] 123
				span #[i.fa.fa-heart-o] 44
				span #[i.fa.fa-comments-o] 12
		.box-project.clearfix
			.wrapper-img
				img.img-responsive(src='assets/img/sample1.png' alt="..")
				a.to-view(href="#" title="..") 
			.wrapper-text
				h2.project-title Lorem Ipsum
				p lorem ipsum dolorsitamet conseluari andeparselor matulitono...
			.footer-box.clearfix
				span #[i.fa.fa-eye] 123
				span #[i.fa.fa-heart-o] 44
				span #[i.fa.fa-comments-o] 12
		.box-project.clearfix
			.wrapper-img
				img.img-responsive(src='assets/img/sample2.png' alt="..")
				a.to-view(href="#" title="..") 
			.wrapper-text
				h2.project-title Lorem Ipsum
				p lorem ipsum dolorsitamet conseluari andeparselor matulitono...
			.footer-box.clearfix
				span #[i.fa.fa-eye] 123
				span #[i.fa.fa-heart-o] 44
				span #[i.fa.fa-comments-o] 12